{{ if .Site.Data.homepage.our_team.enable }}
<section class="section rad-animation-group mt-5" id="ourteam">
  <div class="container">
    <div class="rad-fade-down">
      <div class="text-center">
        <h2 class="purple-font">{{ .Site.Data.homepage.our_team.title }}</h2>
      </div>
      <div class="row justify-content-center">
        <img src="{{ .Site.Data.homepage.our_team.image.x }}" alt="{{ .Site.Data.homepage.our_team.image.alt }}" />
      </div>
    </div>
  </div>
</section>
{{ end }}
